.social-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
margin-top:40px;
}

.social-card{
background:#18203a;
padding:35px;
border-radius:18px;
text-align:center;
text-decoration:none;
color:white;
border:1px solid #7c3aed;
transition:.3s;
font-size:2rem;
}

.social-card:hover{
transform:translateY(-8px);
background:#232b4d;
}

.timeline{
display:flex;
flex-direction:column;
gap:25px;
margin-top:40px;
}

.timeline-item{
background:#18203a;
padding:25px;
border-left:6px solid #555;
border-radius:12px;
}

.timeline-item.done{
border-color:#22c55e;
}

.timeline-item.current{
border-color:#7c3aed;
}

.footer-links{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
margin:25px 0;
}

.footer-links a{
color:#d8b4fe;
text-decoration:none;
}

.footer-links a:hover{
color:white;
}

.stat-card{
background:#18203a;
padding:25px;
border:1px solid #7c3aed;
border-radius:15px;
text-align:center;
}

#stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

@media(max-width:768px){

.menu{
display:none;
}

.wallet-button{
padding:12px 20px;
font-size:.9rem;
}

.hero h1{
font-size:3rem;
}

.hero h2{
font-size:1.7rem;
}

}
